<form method="POST" action="/api/v1/all">
    <div class="form-group">
        <label for="toDoTitle">Title</label>
        <input type="text" name="title" class="form-control" id="toDoTitle" value="" placeholder="Enter Title">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Detail</label>
        <input type="text" name=toDoDetail class="form-control" id="toDoDetail" placeholder="Enter To-Do in Detail" />
    </div>
    <button id="addNew" class="btn btn-danger btn-sm  d-flex justify-content-end">Add
        To-Do</button>
    </div>
</form>